<a class="back" href="#/inbox">Back</a>
<div class="suggestion-view">
    <h2>{{ post.title }}</h2>
    <span class="glyphicon glyphicon-plus-sign" ng-click="upVote(post)"></span>
        Upvotes: {{ post.upvotes }}
    </p>
    
    <div ng-repeat="comment in comments | orderBy:'-upvotes'">
        <span class="comments">
            {{ comment.body }}
        </span>
        
        <p class="upvotes">
        <span class="glyphicon glyphicon-plus-sign" ng-click="upVote(comment)"></span>
            Upvotes: {{ comment.upvotes }}
        </p>
    </div>
    <form ng-submit="addComment()" style="margin-top: 50px">
		<h3> Submit Your Comment </h3>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Great thoughts here" ng-model="body"></input>
			</div>
		<button type="submit" class="btn btn-primary">Suggest</button>
	</form>
</div>